.profile {
  padding-top: 50px;
  margin-top: 144px;
  width: 100%;
  min-width: 600px;
  height: 456px;
  display: flex;
  background-color: #313D5A;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
header div h2 {
  color: #0ea583;
  min-width: 246px;
}
header div {
  text-align: center;
}
header div img {
  height: 200px;
  width: auto
}