.profile {
  width: 100%;
  min-width: 600px;
  height: 600px;
  display: flex;
  background-color: #313D5A;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  align-items: center;
  justify-content:flex-end;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 20px;
}
header div h2 {
  color: rgba(11, 10, 10, 0.687);
  min-width: 246px;
}