nav {
  height: 120px;
  min-width: 600px;
  width: 100%;
  display: flex;
  background-color: #4056A1;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
  position: fixed
}
#title {
  font-family: "Bungee";
  font-size: 60px;
  color: white;
}
nav span p {
  display:flex;
  align-self:center;
  color: white;
}
nav span i {
  color:red;
  margin-top: -22px;
  transition: font-size 500ms;
}
#newTweet:hover i {
  transition: font-size 500ms;
  font-size: 1.5em;
}
#newTweet {
  display: flex;
  min-width: 190px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
