.new-tweet {
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  padding: 5px;
  margin: 20px;
  
  
}
/* this css gets the counter off to the far right */
form div {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  
}

button {
  color:blue;
  mask-type: luminance;
  border-color: cornflowerblue;
  font-family: Bungee;
}
textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
  border-bottom: 5px solid rgb(84 81 73);
  color: rgb(84 81 73);
  height: 72px;
  font-weight: 600;
  font-size: 18px;
  padding-top: 40px;
  overflow-wrap: normal;
  
}

section h2 {
  font-family: "Source Sans Pro", sans-serif;
  
}

output {
  font-family: Bungee;
}

.tooMany {
  color: red
}


